/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #ff6ec4, #7873f5);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  max-width: 400px;
  padding: 20px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Added drop shadow */
}

textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* Ensures padding is included in width */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button {
  background-color: transparent;
  color: black;
  padding: 10px 20px;
  border: 2px solid #333; /* Grey outline */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s; /* Added border-color transition */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Added drop shadow */
}

button:hover {
  background-color: #ff0000; /* Red */
  color: #fff;
  border-color: #ff0000; /* Red */
}

.result {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
